@font-face {
    font-family: 'gotham_extralightregular';
    src: url('gothamx/gotham-xlight-webfont.eot');
    src: url('gothamx/gotham-xlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('gothamx/gotham-xlight-webfont.woff2') format('woff2'),
         url('gothamx/gotham-xlight-webfont.woff') format('woff'),
         url('gothamx/gotham-xlight-webfont.ttf') format('truetype'),
         url('gothamx/gotham-xlight-webfont.svg#gotham_extralightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	padding: 0; 
	font-family: 'gotham_extralightregular';	
}
 
#logo {
	position: absolute;
	z-index: 101;
	width: 150px;
	margin: 1.5%;
} 

input {
	font-family: 'gotham_extralightregular';
	position: absolute;
	top: 295px;
	left: 450px;
	font-size: 18px;
	height: 35px;
	width: 300px;
	-moz-border-radius: 2.5px;
    -webkit-border-radius: 2.5px;
    border-radius:3px;
    text-decoration: none;
    border:none;
    outline: none;
}

button {
	font-family: 'gotham_extralightregular';
	position: absolute;
	top: 295px;
	left: 760px;
	width: 38px;
	height: 38px;
	font-size: 18px;
	-moz-border-radius: 2.5px;
    -webkit-border-radius: 2.5px;
    border-radius:3px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border:none;
    outline: none;
}

.item {
	color: white;
}

#program {
	position: absolute;
	top: 200px;
	left: 300px;
}


p {
	margin: 0;
}




