.index {
  background-color: rgba(192,223,217,1);
}
.agencies {
  background-color:rgba(255,255,255,1);
}
.people {
  background:rgba(233,236,229,1);
}
.row. {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
#Container .mix{
	display: none;
}
#Container {
	margin-bottom: 4.5%;
}
.manifesto {
	text-align: center;
	font-size: 12px;
	padding: 5%;
	background-color: #F0FFFF;
}
.noShow {
	display: none;
	float: left;
	position: fixed;
	z-index: 999;
	width: 50%;
	height: auto;
	background-color: #fff;
	top: 0;
	left: 0;
	right: 0;
	padding: 3%; 
	width:100%; 
    height:100%; 
    background:url(../img/overlay.png) repeat; 
    text-align:center;
}

#wrapper { 
    margin:0 auto; /*centers the div horizontally in all browsers (except IE)*/
    background:#fff; 
    text-align:left; /*resets text alignment from body tag */
    border-top:none;
    /*Let's add some CSS3 styles, these will degrade gracefully in older browser and IE*/
    border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px; 
    box-shadow:0 0 5px #ccc;
    -moz-box-shadow:0 0 5px #ccc;
    -webkit-box-shadow:0 0 5px #ccc;
}
.no{
  background:rgba(233,236,229,1);	
}
.photo {
	float: left;
	width: 15%;
	margin: 10% 0 0 25%;	
}
.about {
	padding: 14%;
	background-color: #fff;
	width: 65%;
	margin: 5% 0 0 18%;
}

.name {
	display: none;
	position: absolute;
	bottom: 0;
	z-index: 90;
	left: 8%;
	text-align: center;
}
.gif:hover {
    opacity: 0.5;
}
.filter {
	float: left;
	padding-left: 4%;
	line-height: 50px;
}
.fil {
	background:rgba(233,236,229,1);
	position: fixed;
	bottom: 0;
	text-align: center;
	font-size: 2em;
	z-index: 9999;
	width: 110%;
	color:rgba(59,58,54,1);
}

header{
  width:100%; 
  line-height:50px;
}
.hamburger{
  background-color:rgba(59,58,54,1);
  position:fixed;
  top:2%;
  left:1%;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:rgba(255,255,255,1);
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background-color:rgba(59,58,54,1);
  position:fixed;
  top:2%;
  left:1%;
  padding:8px 17px 0px 17px;
  color:rgba(255,255,255,1);
  border:0;
  font-size:3em;
  line-height:38px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu {z-index:1000000; font-weight:bold; font-size:3em; width:100%; height: 100%; background:rgba(179,194,191,1);  position:fixed; text-align:center;}
.menu ul {margin: 0; padding: 0 0 2% 0; list-style-type: none; list-style-image: none; height: 100%; background:rgba(255,255,255,0.5);}
.menu li {display: block;   padding:50px 0 50px 0;}
.menu ul li a {text-decoration:none;  margin: 0px; color:rgba(255,255,255,1);}
.menu ul li a:hover { width: 25%; color: rgba(59,58,54,1); text-decoration:none;}
.menu a {text-decoration:none; color:rgba(255,255,255,1); font-family: sans-serif;}
.menu a:hover {text-decoration: none; color:rgba(59,58,54,1);}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
#tri{
	position: absolute;
	top: 0;
	margin-left: -20%;
}
@media screen and (min-width : 2559px) {
	.content {
		font-size: 2.5em;
	}
	.menu li {
		padding: 120px 0 120px 0;
	}
	.fil {
		font-size: 2em;
	}
}
@media screen and (min-width : 760px) {
	.fil {
		font-size: 0.8em;
	}
}
.content {
	color: rgba(11,0,50,1);
	text-align: center;
	padding: 3%;
	position: absolute;
	right: 1%;
	top: 60%;
	width: 40%;
	margin: 20% 0;
	color: #fff;
	font-family: sans-serif;
	font-weight: lighter;
	letter-spacing: 2px;
	transform: translateX(100%);
    -webkit-transform: translateX(100%);
	animation: slide-in 3s forwards;
    -webkit-animation: slide-in 3s forwards;
}
@keyframes slide-in {
    100% { transform: translateX(0%); }
}
@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
#man {
	color: rgba(11,0,50,1);
	text-align: center;
	width: 50%;
	padding: 3%;
	position: absolute;
	top: 30%;
	left: 0;
	font-size: 3em;
	font-family: sans-serif;
	font-weight: bold;
	color: #fff;
	letter-spacing: 2px;
	transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
	animation: slide-in 3s forwards;
    -webkit-animation: slide-in 3s forwards;	
}
#email {
	margin: 25% 0;
	text-align: center;
}
#nyc {
	background-color: rgba(192,223,217,1);
}


